.contents
  .left-content
  .right-content
    %header.right-content__group-menu
      .right-content__group-menu__edit-button
        %a(href='#') Edit
      %h2  sampleグループ
      %p.right-content--small-thin  Member：hidepino
    .right-content__chatline
      %ul.right-content__chatline__messages
        %li
          %ul.right-content__chatline__messages__detail
            %li  ryosukemaehira
            %li.right-content--small-thin  2016/10/02 06:27:07
    %footer.right-content__post-message
      %input{ type: 'text'}
