.contents
  .left-content
  .right-content
    %header.right-content__group-menu
      .right-content__group-menu__edit-button
        %a(href='#') Edit
      %h2  sampleグループ
    .right-content__chatline
    %footer.right-content__post-message
