.contents
  .side
    .header
      %h3.header__name  username
      %ul.header__icons
        %li.icon
          = link_to "#" do
            %i.fa.fa-cog.ico
        %li.icon
          = link_to "#" do
            %i.fa.fa-pencil-square-o.icon
    .groups
      .group
        = link_to "#" do
          .group__name  username
          .group__message  メッセージ
  .chat
    .header
      .select-group
        .select-group__title  group1
        %ul.select-group__members
          Member:
          %li.member user1
      .edit-group
        = link_to "#", class:"edit-group__button" do
          Edit
    .messages
      .message
        .message__info
          .message__info__username
          .message__info__posttime
        .message__detail
    .form
