@import "./contents";

.chat {
  background-color: #aaa;
  box-sizing:border-box;
  float: right;
  padding: 0 40px;
  min-width: 300px;
  width: calc(100vw - 300px);

  .header {
    border-bottom:1px solid #eee;
    box-sizing:border-box;
    @include clearfix();

    .select-group {
      float:left;
      &__title {
        color: #333;
        font-size: 20px;
        margin: 35px 0 0 0;
      }
    }
  }
}
