@import "./contents";

.chat {
  box-sizing:border-box;
  float: right;
  padding: 0 40px;
  min-width: 300px;
  width: calc(100vw - 300px);

  .header {
    border-bottom:1px solid #eee;
    box-sizing:border-box;
    @include clearfix();

    .select-group {
      float:left;
      &__title {
        color: #333;
        font-size: 20px;
        margin: 35px 0 0 0;
      }

      ul.select-group__members {
        color:#999;
        font-size:12px;
        margin: 15px 0 0 0;

        li.member {
          display: inline;
        }
      }
    }

    .edit-group {
      border:1px solid blue;
      float:right;
      height: 40px;
      line-height: 40px;
      margin:28px 0 0 0;
      padding:0 20px;

      &__button {
        text-decoration: none;
      }
    }
  }

  .messages {
    background-color: #aaa;
    padding-top:46px;
  }

  .form {
    height:50px;
    padding:20px 0;
    @include clearfix();

    .message-text {
      color:#434A54;
      font-size:16px;
      line-height:50px;
      padding-left: 10px;
    }

    .message-image {}

    .message-sent{}
  }
}
