@import "./contents";

.left-content {
  background-color: #2f3e51;
  box-sizing: border-box;
  height:100vh;
  float: left;
  padding: 35px 20px 0;
  width: 300px;

  &__user-operation {
    background-color:#253141;
    p {
      color: #fff;
      float:left;
      font-size: 16px;
    }
    i.fa{
      color:white;
      float:right;
    }
  }
}
