@import "./contents";

.right-content {
  box-sizing: border-box;
  float:right;
  padding: 40px;
  width:300px;

  &__group-menu{
    height: 96px;
    position: fixed;
  }

  &__chatline {
    background-color:#aaa;
  }

  &__post-message {
    height:90px;
    padding:20px 0;
  }
}
