@import "./contents";

.right-content {
  box-sizing: border-box;
  float:right;
  min-width: 300px;
  padding: 0 40px;
  width:calc(100vw - 300px);

  &--small-thin {
    font-size:12px;
    color:#999;
  }

  &__group-menu {
    height: 96px;
    h2 {
      color: #999;
      font-size: 20px;
      font-weight: bold;
      padding:35px 0 0 0;
    }

    &__edit-button {
      border:1px solid blue;
      float:right;
      padding:0 20px;
      margin:28px auto ;
      a{
        text-decoration: none;
      }
    }
  }

  &__chatline {
    background-color:#aaa;
    height:calc(100vh - 186px);
  }

  &__post-message {
    height:90px;
    padding:20px 0;
  }
}
