@import "./contents";

.right-content {
  box-sizing: border-box;
  float:right;
  height:100vh;
  min-width: 300px;
  padding: 0 40px;
  width:calc(100vw - 300px);

  &--small-thin {
    font-size:12px;
    color:#999;
  }

  &__group-menu {
    height: 96px;
    h2 {
      color: #999;
      font-size: 20px;
      font-weight: bold;
      padding:35px 0 15px 0;
    }

    &__edit-button {
      border:1px solid blue;
      box-sizing: border-box;
      height:40px;
      float:right;
      margin:28px auto ;
      padding:0 20px;
      a{
        text-decoration: none;
        line-height: 40px;
      }
    }
  }

  &__chatline {
    background-color:#aaa;
    height:calc(100vh - 186px);
    padding-top: 46px;

    &__messages{
      &__detail li{
        float:left;
      }
    }
  }

  &__post-message {
    height:50px;
    padding:20px 0;
    input {
      color:#434A54;
      font-size:16px;
      line-height:16px;
      padding-left: 10px;
    }
  }
}
